/* Categories */

position: absolute;
width: 1163px;
height: 651px;
left: 58px;
top: 216px;





/* Rectangle 6 */

position: absolute;
width: 1212px;
height: 827px;
left: 33px;
top: 127px;

background: rgba(255, 255, 255, 0.7);
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 15px;
