.image-search,
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7px;

  /* min-width: 33px; */
  /* min-height: 33px; */
  padding: 4px;
  font-size: 1rem;
  color: #916bbf;
  background: rgba(61, 44, 141, 0.66);
  border: 1px solid rgba(61, 44, 141);
  box-sizing: border-box;
  border-radius: 7px;
  transition: 0.5s ease;
}

svg{
  fill: #916bbf;
}

.btn:hover,
.image-search:hover {
  background: rgba(61, 44, 141, 0.77);
  color: #d0d0d0;
  transition: 0.5s ease;
  border-radius: 50px;

}

.image-search:hover > svg,
.btn:hover > svg {
  fill: #d0d0d0;
  transition: 0.5s ease;
}

.btn:focus,
.image-search:focus {
  background: rgba(61, 44, 141, 1);
  color: #ffffff;
  transition: 0.5s ease;
  border-radius: 7px;
}

.btn:focus > *,
.image-search:focus > * {
  fill: #ffffff;
  transition: 0.5s ease;
}
