/* Intro */
.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 10px;
  top: 127px;
  width: 90vw;
}
.initial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  top: 127px;
  width: 90vw;
  background-color: hsla(0, 0%, 100%, 0.5);
  backdrop-filter: blur(20px);
  
border: 1px solid rgba(255, 255, 255, 0.24);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
}

/* The one and only Website where you get the lowest price of the same product from multiple E-commerce sites ! */
.description{
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: rgba(59, 143, 162, 0.81);
}

/* Where you find the Best Price !! */
.quote{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;

  color: rgba(65, 74, 155, 0.72);
}

/* Rectangle 10 */
.about{
margin-top: 50px;
margin-bottom: 50px;
width: 90vw;

background-color: hsla(0, 0%, 100%, 0.5);
border: 1px solid rgba(255, 255, 255, 0.24);
backdrop-filter: blur(20px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 15px;
}

/* What is Good Merchant */
.what{

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;
/* identical to box height */
text-align: center;
color: #3D2C8D;
}


@media screen and (max-width:800px){
  .about,.initial{
    min-width: 200px;
  }
}