input[type="file"] {
  display: none !important;
}

.popup {

  display: flex;
  flex-direction: column;
  position: absolute;
  /* max-height: 500px; */
  z-index: 200;
  max-width: 500px;
  align-items: center;
  background-color: black;
  color: rgb(28, 12, 91);
  /* padding: 10px; */
  background-color: hsla(0, 0%, 100%, 0.5);
  backdrop-filter: blur(20px);
  border: 2px solid rgba(145, 107, 191, 0.24);
  border-radius: 10px;
}

.popup-heading {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  justify-content: center;
  border-bottom: 2px solid rgba(145, 107, 191, 0.24);
  /* border-radius: 10px; */
}
.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}
.popup-content label, .popup-content form input {
    width: 300px !important;
    display: flex;
    background-color: rgba(145, 107, 191, 0.24);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    margin: 4px;

}
.popup-content form .btn {
    width: 300px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 4px;
    margin: 4px;
}
.cancel {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  border: none;
  background-color: transparent;
  width: max-content;
  align-self: flex-end;
}
.cancel:hover {
  color: aliceblue;
}


@media screen and (min-width: 800px) {
    .popup{
        width: 600px;
        height: 600px;
    }
}