.searchBox {
    display: flex;
    padding: 1px;
    background-size: 2000% 2000%;
  
    border-radius: 4px;
    transition: 0.1s ease;
    outline: 0px solid burlywood;
    animation: gradient 60s ease infinite;
    /* color: #fff; */
  }
  
  input {
    padding: 7px;
    margin: 2px;
    border-radius: 4px;
    min-width: 50px;
    outline: none;
    border: none;
    background: transparent;
    box-sizing: border-box;
    border-radius: 7px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(201, 150, 204, 1) !important;
    transition: 0.1s ease-in-out;
  }
  
  input:focus {
    transition: 0.1s ease-in-out;
    color: #0a0a0a;
  }
  
  .controls {
    position: relative;
    overflow: hidden;
  }
  
  .controls input {
    width: 100%;
    height: 100%;
    font-family: Roboto, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-top: 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    color: #1c0c5b;
    
    bottom: 0px;
  }
  
  .controls label {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: #c996cc;

  }
  
  .controls label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 1px;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #c996cc;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  
  .input-content {
    position: absolute;
    bottom: 2px;
    left: 6px;
    z-index: 10000;
    transition: all 0.3s ease;
    color: rgba(201, 150, 204, 1);

  }
  
  .controls input:focus + .label-1 .input-content,
  .controls input:not(:placeholder-shown) + .label-1 .input-content {
    transform: translateY(-160%);
    color: #1c0c5b;
    color: #c996cc;
    font-size: 9px;
  }
  
  .controls input:focus + .label-1::after,
  .controls input:not(:placeholder-shown) + .label-1::after {
    transform: translateX(0%);
  }
  
  @media screen and (min-width: 900px) {
    .searchBox input {
      min-width: 50px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .searchBox {
      display: none;
    }
  }
  
  .searchBox {
    height: 39px;
  
    background: rgba(61, 44, 141, 0.41);
    border: 1px solid #3D2C8D;
    
    box-sizing: border-box;
    border-radius: 8px;
  }
  