body {
  background: radial-gradient(
    circle,
    #ff2400 0%,
    #e81d1d 12.5%,
    #e8b71d 25%,
    #e3e81d 37.5%,
    #1de840 50%,
    #1ddde8 62.5%,
    #2b1de8 75%,
    #dd00f3 87.5%,
    #dd00f3 100%
  );
  background-size: 2000% 2000%;
  animation: gradient 60s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.container {
  height: 100%;
  width: 100%;
}
